<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Betriebssysteme Fernlehre 3</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Hash Generator</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-12 form-group">
          <h3>Generate a custom solution (Prefilled):</h3>
        </div>
        <div class="col-sm-6 form-group">
          <label for="hostname">Hostname</label>
          <input type="text" id="hostname" [(ngModel)]="hostname" (ngModelChange)="onInputChange($event)" class="form-control">
        </div>
        <div class="col-sm-6 form-group">
          <label for="username">Username</label>
          <input type="text" id="username" [(ngModel)]="username" (ngModelChange)="onInputChange($event)" class="form-control">
        </div>
        <div class="col-sm-6 form-group">
          <label for="owner">Owner</label>
          <input type="text" id="owner" [(ngModel)]="owner" (ngModelChange)="onInputChange($event)" class="form-control">
        </div>
        <div class="col-sm-6 form-group">
          <label for="group">Group</label>
          <input type="text" id="group" [(ngModel)]="group" (ngModelChange)="onInputChange($event)" class="form-control">
        </div>
        <div class="col-sm-6 form-group">
          <label for="permissions">Permissions</label>
          <input type="text" id="permissions" [(ngModel)]="permissions" (ngModelChange)="onInputChange($event)" class="form-control">
        </div>
        <div class="col-sm-6 form-group">
          <label for="swap">Swap</label>
          <input type="number" id="swap" [(ngModel)]="swap" (ngModelChange)="onInputChange($event)" class="form-control">
        </div>
        <div class="col-sm-6 form-group">
          <label for="multithreading">Multithreading</label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="multithreading" [(ngModel)]="multithreading" (ngModelChange)="onInputChange($event)">
            <label class="form-check-label" for="multithreading">
              &nbsp;&nbsp;Multithreading Enabled
            </label>
          </div>
        </div>
        <div class="col-sm-6 form-group">
          <label for="sorted">Sorted</label>
          <input type="number" id="sorted" [(ngModel)]="sorted" (ngModelChange)="onInputChange($event)" class="form-control">
        </div>
      </div>
      <div class="row">
        <hr />
        <div class="col-sm-12 form-group">
          <label for="hashsum">Output</label>
          <div id="hashsum" class="form-control" style="height: auto !important;" [style.background-color]="color" [innerHTML]="hashsum"></div>
        </div>
      </div>
      <div class="row">
        <hr />
        <div class="col-sm-12 form-group">
          <h3>Generate a lot of random solutions at once:</h3>
        </div>
        <div class="col-sm-12 form-group">
          <div class="btn-group" role="group" aria-label="Generate random solutions">
            <button type="button" class="btn btn-primary" (click)="onGenerateALot(10)">10</button>
            <button type="button" class="btn btn-primary" (click)="onGenerateALot(100)">100</button>
            <button type="button" class="btn btn-primary" (click)="onGenerateALot(1000)">1000</button>
          </div>
        </div>
        <div class="col-sm-12 form-group">
          <div id="randomGeneratedOutput" class="form-control" style="height: auto !important;" [innerHTML]="randomGeneratorOutput"></div>
        </div>
      </div>
    </div>
  </div>
</div>
